<app-header></app-header>

<div class="panel panel-info">
  <div class="panel-heading">About Us</div>
  <div class="panel-body">
    We are five members team working on this website to provide service of selling and
    buying second hand books online here for our loving readers and book lovers.
    Buy books here at cheapest rate and best quality in the market.
    we only accept books in good conditions ,clear and clean.
    so trust on us and avail the serive.<br>
    Keep Reading</div><br><br>
  <div class="panel-body">
    Team Members:<br>

    Amarjeet Kumar Nirala<br>
    Bicky Upadhyay <br>
    Pooja Rai<br>
    Shilpi Gupta<br>
    Vaishnavi Solanki<br>



  </div>
</div>