<section class="pt-3 pb-3 bg-light inner-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" style="line-height: 0">
        <h1 class="mt-0 mb-3 text-blue">BooksJunction</h1>
        <span style="font-family: cursive;font-style: italic">(Keep Reading, Keep Sharing)</span>
      </div>

    </div>
  </div>
</section>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn" style="color: white;" id="dropdownBasic1" ngbDropdownToggle>Categories
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a (click)='homenav(1)' ngbDropdownItem>Comedy</a>
              <a (click)='homenav(2)' ngbDropdownItem>Biography</a>
              <a (click)='homenav(3)' ngbDropdownItem>Romance</a>
              <a (click)='homenav(4)' ngbDropdownItem>Sports</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn" style="color: white;" id="dropdownBasic1" ngbDropdownToggle>My
              Account</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a routerLink="/userprofile" ngbDropdownItem>My Profile</a>
              <a routerLink="/orderlist" ngbDropdownItem>Orders</a>
              <a routerLink="/wishlist" ngbDropdownItem>Wishlist</a>
              <a routerLink="/help" ngbDropdownItem>Help</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Cart <img class="carticon" src="assets/pictures/cart3.png"></a>
        </li>
        <li>
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          <!-- <a *ngIf="loggedin=='true'" class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a> -->
        </li>
      </ul>
      <form class="form-inline my-2 my -lg-0 ">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

</div>