<section class="pt-3 pb-3 bg-light inner-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" style="line-height: 0">
        <h1 class="mt-0 mb-3 text-blue">BooksJunction</h1>
        <span style="font-family: cursive;font-style: italic">(Keep Reading, Keep Sharing)</span>
      </div>

    </div>
  </div>
</section>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)='homenav(1)'>Comedy</a>
            <a class="dropdown-item" (click)='homenav(2)'>Biography</a>
            <a class="dropdown-item" (click)='homenav(3)'>Romance</a>
            <a class="dropdown-item" (click)='homenav(4)'>Sports</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/userprofile">My Profile</a>
            <a class="dropdown-item" routerLink="/orderlist">Orders</a>
            <a class="dropdown-item" routerLink="/wishlist">Wishlist</a>
            <a class="dropdown-item" routerLink="/help">Help</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Cart <img class="carticon" src="assets/pictures/cart3.png"></a>
        </li>
        <li>
          <a *ngIf="loggedin=='false'" class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          <a *ngIf="loggedin=='true'" class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my -lg-0 ">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

</div>