<app-header></app-header>

<div class="panel panel-info">
  <div class="panel-heading">Contact Us</div>
  <div class="panel-body">
    C-DAC Knowledge Park<br>
    Opp. HAL Aeroengine Division<br>
    Old Madras Road, Byappanahalli<br>
    Bengaluru - 560 038<br>
    Karnataka (India)<br>
    Phone: +91-80-25093400<br>
    Fax: +91-80-2524-7724</div>
  <br><br>
  <div class="panel-body">
    Contact Person:<br>

    Amarjeet Kumar Nirala<br>
    Mobile- 08757018722<br>
    Email- amarjeetjack@gmail.com <br>

  </div>
</div>