
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
  <a class="navbar-brand" href="#">MyBookStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search Books By Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Comedy</a>
          <a class="dropdown-item" href="#">Biography</a>
          <a class="dropdown-item" href="#">Romance</a>
          <a class="dropdown-item" href="#">Sports</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li> <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
    <form class="form-inline my-2 my -lg-0 ">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" >Search</button>
    </form> 
  </div>
</nav>

</div>

<div class="panel panel-info">
    <div class="panel-heading">Contact Us</div>
    <div class="panel-body">
        C-DAC Knowledge Park<br>
        Opp. HAL Aeroengine Division<br>
        Old Madras Road, Byappanahalli<br>
        Bengaluru - 560 038<br>
        Karnataka (India)<br>
        Phone: +91-80-25093400<br> 
        Fax: +91-80-2524-7724</div>
        <br><br>
      <div class="panel-body">
      Contact Person:<br>

      Amarjeet Kumar Nirala<br>
      Mobile- 08757018722<br>
      Email- amarjeetjack@gmail.com <br>

    </div>
  </div>