
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
  <a class="navbar-brand" href="#">MyBookStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search Books By Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <button class="dropdown-item" (click)='homenav(1)' >Comedy</button>
          <a class="dropdown-item" (click)='homenav(2)'>Biography</a>
          <a class="dropdown-item" (click)='homenav(3)'>Romance</a>
          <a class="dropdown-item" (click)='homenav(4)'>Sports</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li> <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
    <form class="form-inline my-2 my -lg-0 ">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" >Search</button>
    </form> 
  </div>
</nav>

</div>

<div>
  <app-homesearch></app-homesearch>
</div>
  


<!-- <div style="margin-left: 20%;height: auto;width: 60%" class="row">
      <div class="col-4"> 
            <div class="row">
                <div class="col-12">
                  Picture Here
                </div>
                
              </div>
              <div class="row">
                  <div class="col-6">
                    Book Name
                    </div>
                    <div class="col-6">
                        BookPrice
                        </div>
                  </div><br>
                  
                  
                  <div class="row">
                      <div class="col-6">
                       <button (click)='invalid()'>Add to WishList</button>
                        </div>
                        <div class="col-6">
                            <button (click)='invalid()'>Add to Cart</button>
                            </div>
                      </div>
       </div>
       <div class="col-4"> 
          <div class="row">
              <div class="col-12">
                Picture Here
              </div>
              
            </div>
            <div class="row">
                <div class="col-6">
                  Book Name
                  </div>
                  <div class="col-6">
                      BookPrice
                      </div>
                </div><br>
                
                
                <div class="row">
                    <div class="col-6">
                     <button (click)='invalid()'>Add to WishList</button>
                      </div>
                      <div class="col-6">
                          <button (click)='invalid()'>Add to Cart</button>
                          </div>
                    </div>
     </div>
     <div class="col-4"> 
        <div class="row">
            <div class="col-12">
              Picture Here
            </div>
            
          </div>
          <div class="row">
              <div class="col-6">
                Book Name
                </div>
                <div class="col-6">
                    BookPrice
                    </div>
              </div>
              <br>
              
              <div class="row">
                  <div class="col-6">
                   <button (click)='invalid()'>Add to WishList</button>
                    </div>
                    <div class="col-6">
                        <button (click)='invalid()'>Add  to  Cart</button>
                        </div>
                  </div>
   </div>
</div> -->