 /* .col-12{
    width: 200px;
    border: 1px solid green;
    height: 210px;
    margin: 10px;
    padding: 10px;
  }


  .col-4{
    width: 150px;
    border: 10px;
    padding: 10px;
    
    
  } */

 .row{
   flex-wrap: nowrap;
 }
 .container{
   margin:10px;
   max-width: 1600px;
 }

 .panel-left{
   margin-top: 50px;;
 }

.filter-header{
height: 40px;

}

li {
 
    display: inline-block;
    vertical-align: top;
}

.list-product {
  float: left;
  height: 360px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}


.wishlisticon{
  height:30px ;
  width:25px;
}
.wishlistbutton{
  height: 50px;
  width: 100px;
}
