 .col-12{
    width: 200px;
    border: 1px solid green;
    height: 210px;
    margin: 10px;
    padding: 10px;
  }


  .col-4{
    width: 150px;
    border: 10px;
    padding: 10px;
    
    
  }

 

li {
 
    display: inline-block;
    vertical-align: top;
}

.list-product {
  float: left;
  height: 360px;
  margin-top: 20px;
}


.wishlisticon{
  height:30px ;
  width:25px;
}
.wishlistbutton{
  height: 50px;
  width: 100px;
}
