
<app-header></app-header>

<div  class="col-sm-6 col-6 col-lg-4 col-xl-4 list-product"  *ngFor="let data of result;">
      <app-product-card [item]=data>

      </app-product-card>
</div>

<!-- <div style="margin-left: 20%;height: auto;width: 60%" class="row">
      <div class="col-4"> 
            <div class="row">
                <div class="col-12">
                  Picture Here
                </div>
                
              </div>
              <div class="row">
                  <div class="col-6">
                    Book Name
                    </div>
                    <div class="col-6">
                        BookPrice
                        </div>
                  </div><br>
                  
                  
                  <div class="row">
                      <div class="col-6">
                       <button (click)='invalid()'>Add to WishList</button>
                        </div>
                        <div class="col-6">
                            <button (click)='invalid()'>Add to Cart</button>
                            </div>
                      </div>
       </div>
       <div class="col-4"> 
          <div class="row">
              <div class="col-12">
                Picture Here
              </div>
              
            </div>
            <div class="row">
                <div class="col-6">
                  Book Name
                  </div>
                  <div class="col-6">
                      BookPrice
                      </div>
                </div><br>
                
                
                <div class="row">
                    <div class="col-6">
                     <button (click)='invalid()'>Add to WishList</button>
                      </div>
                      <div class="col-6">
                          <button (click)='invalid()'>Add to Cart</button>
                          </div>
                    </div>
     </div>
     <div class="col-4"> 
        <div class="row">
            <div class="col-12">
              Picture Here
            </div>
            
          </div>
          <div class="row">
              <div class="col-6">
                Book Name
                </div>
                <div class="col-6">
                    BookPrice
                    </div>
              </div>
              <br>
              
              <div class="row">
                  <div class="col-6">
                   <button (click)='invalid()'>Add to WishList</button>
                    </div>
                    <div class="col-6">
                        <button (click)='invalid()'>Add  to  Cart</button>
                        </div>
                  </div>
   </div>
</div> -->